body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 60px;
  color: gray;
}
span {
  color: orange;
}
p {
  color: gray;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  background-color: rgb(238, 17, 54);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.flexible {
  display: flex;
}
.common {
  width: 50%;
}
.common img {
  width: 90%;
}
#first-banner {
  background-image: url(images/shapes/frame6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#second-banner {
  background-image: url(images/shapes/frame7.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#first-div {
  padding: 80px;
}
#second-div {
  padding: 80px;
}
#third-div {
  text-align: center;
  padding-right: 250px;
  padding-left: 250px;
  padding-top: 70px;
  color: gray;
}
.food-recipi img {
  width: 100%;
}
.food-recipi {
  text-align: center;
  margin: 0 20px;
  border-radius: 25px;
  box-shadow: 10px 10px 40px gray;
  background-color: white;
  padding: 10px;
  padding-bottom: 0px;
  width: 30%;
}
#third-banner {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
}
